/* Primary Color: #3498db (Blue shade)
Secondary Color: #2ecc71 (Green shade)
Background Color: #ecf0f1 (Light Greyish Blue)
Text Color: #2c3e50 (Dark Greyish Blue)
Accent Color: #e74c3c (Red shade) */

/* Primary Color: #FF6B6B (Light Coral)
Secondary Color: #6B4226 (Brown)
Background Color: #F3EFEF (Pale Silver)
Text Color: #1E1E1E (Jet Black)
Accent Color: #5D9CEC (Steel Blue) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1e1e1e;
  transition: all 0.2s;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 1rem;
  background-color: #f3efef;
  overflow-y: unset;
  /* background-color: #f3efef;
  opacity: 0.5;
  background-image: radial-gradient(
      #6b4226 0.8500000000000001px,
      transparent 0.8500000000000001px
    ),
    radial-gradient(#6b4226 0.8500000000000001px, #f3efef 0.8500000000000001px);
  background-size: 34px 34px;
  background-position: 0 0, 17px 17px; */
}

section {
  box-shadow: 2px 4px 10px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  padding: 2rem;
}

.btn-nav {
  background-color: #f3efef !important;
  color: #5d9cec !important;
}

.active {
  color: #6b4226 !important;
  transform: translateY(-5px);
  box-shadow: 2px 10px 4px rgba(0, 0, 0, 0.2);
}

.btn:link,
.btn:visited {
  color: inherit;
  background-color: #5d9cec;
  padding: 1rem 1.5rem;
  border-radius: 100px;
  box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}

.btn:hover {
  color: white;
  transform: translateY(-5px);
  box-shadow: 2px 10px 4px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(0);
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.2);
}

.sub-heading {
  text-align: center;
  width: 100%;
  font-size: 3rem;
  color: #5d9cec;
  font-weight: 600;
  margin-bottom: 2rem;
}

p {
  font-size: 2rem;
  text-align: left;
  line-height: 3rem;
  font-weight: 700;
}
